<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-1g-4 offset-md-3">
                <div class="panel border bg-red">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Login</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="loginForm" (ngSubmit)="onlogin()">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>

                                   <input formControlName="Email"  type="text" placeholder="Email">
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['Email'].dirty && loginForm.hasError('required', 'Email')" class="text-danger" >*Email is Required</small>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-lock p-2"></span>
                                   <input formControlName="Password" [type]="type" placeholder="Password">
                                   <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['Password'].dirty && loginForm.hasError('required', 'Password')" class="text-danger" >*Password is Required</small>
                            <div clas="form-inline fr mt-4">
                                <a id="forget" class="font-weight-bold">Forget Password?</a>
                                <div class="text-center pt-4 text-muted">Don't Have Account? <a id="forget" routerLink="/signup" >Signup</a></div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Login </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
